---
import Layout from "../../../layouts/Layout.astro";
import questions from "../../../data/questions.js";
import CheckBoxInput from "../../../components/checkBoxInput.astro";
import { formDataToObject } from "astro:actions";

// Astro SSR Mode
export const prerender = false;

// Get url path from questions array of objects
export function getStaticPaths() {
  const questionStatic = questions.map((question) => {
    const returnStat = {
      params: {
        questionTitle: question.title,
      },
    };
    return returnStat;
  });
  return questionStatic;
}

// destructure parameters to get questionTitle from path
const { questionTitle } = Astro.params;

//
const questionIndex = questions.findIndex(
  (question) => question.title === questionTitle
);

const questionArray = questions[questionIndex];

if (questionIndex >= questionArray.length) {
  const nextQuestion = questions[questionIndex + 1].title;
}

//
if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const checkboxArray = [...data.keys()];
    console.log(checkboxArray);
    // Display the keys
    // for (const key of data.keys()) {
    //   console.log(key);
    // }
  } catch (error) {
    console.log("*****");
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout title=`How Many of Us Are There - Renting`>
  <main class="w-screen text-xl">
    <section
      class="flex flex-col gap-10 py-10 px-5 text-black justify-center items-center"
    >
      <div>
        <form method="POST">
          <h2 class="text-4xl md:text-6xl leading">
            {questionArray.question}
          </h2>
          <fieldset class="py-5">
            {
              questionArray.answers.map((answer) => (
                <>
                  <CheckBoxInput answer={answer.answer} label={answer.label} />
                  <br />
                </>
              ))
            }
          </fieldset>
          <button
            type="submit"
            id="postcodeBtn"
            class="bg-dark-blue hover:bg-white text-white hover:text-dark-blue hover:border-dark-blue border underline underline-offset-4 font-bold py-2 px-4"
            >Next</button
          >
        </form>
      </div>
    </section>
  </main>
</Layout>
<script></script>
