---
interface Props {
  renting: number;
  people: number;
}

const { renting, people } = Astro.props;
---

<div style="width: 200px;">
  <canvas id="acquisitions" data-renting={renting} data-people={people}
  ></canvas>
</div>

<script>
  import { Chart, DoughnutController, ArcElement, Tooltip } from "chart.js";

  Chart.register(DoughnutController, ArcElement, Tooltip);

  const acquisitions = document.getElementById("acquisitions");
  const renting = acquisitions.dataset.renting;
  const nonRenting = acquisitions.dataset.people - renting;

  (async function () {
    const data = {
      labels: ["Renters", "Non-Renters"],
      datasets: [
        {
          data: [renting, nonRenting],
          backgroundColor: ["#C06A45", "#5B6D93"],
          hoverOffset: 4,
        },
      ],
    };

    new Chart(acquisitions, {
      type: "doughnut",
      data: data,
    });
  })();
</script>
